html {
  box-sizing: border-box;
}
/* The Universal Selector */
*, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
         but can be over-ridden as needed */
  box-sizing: inherit;
}
/* resets font size to be 62.5% of the user preference - 
       in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: #b6a19e;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='24' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23242529' fill-opacity='0.09'%3E%3Cpath d='M2 0h2v12H2V0zm1 20c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM9 8c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zm-1 4h2v12H8V12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: #242529;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica, sans-serif;
}

h1 {
  font-weight: bolder;
  font-family: Helvetica, sans-serif;
  font-size: 5rem;
  margin: 2rem;
  text-align: center;
  text-shadow: 2.5px 2.5px 4px #49494983;
}

.buttonDiv {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.btn {
  color: #f0f0f0;
  width: 30%;
  margin: 1rem;
}

.catBtn {
  box-shadow: 0 0 1px 2px #242529;
  height: 4rem;
  font-size: 1.35rem;
  font-weight: bold;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

#delButton {
  font-size: 1.3rem;
  width: 100%;
  margin: 0;
  box-shadow: 0 0 1px 2px #242529;
}

#containerDiv {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  width: 90%;
}

#containerDiv > div {
  margin: 1rem;
}

.card {
  background-color: #f0f0f0;
  height: 25rem;
  width: 30rem;
  box-shadow: 0 0 2px 1.5px #242529;
}

.card-body {
  font-size: 1.3rem;
  font-weight: 500;
}

.card-header {
  font-size: 1.4rem;
  color: #f0f0f0;
  box-shadow: 0 0 1px 1.5px #242529;
}

.general-header {
  background-color: #6c648b;
}

.programming-header {
  background-color: #874c62;
}

.Norris-header {
  background-color: #3d9681;
}

/* ---- MEDIA QUERIES ---- */

@media screen and (max-width: 430px) {
  .catBtn {
    font-size: 1rem;
  }
}

@media screen and (max-width: 361px) {
  .catBtn {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  .catBtn {
    margin-bottom: 1rem;
  }
}
