html {
    box-sizing: border-box
  }
  /* The Universal Selector */
  *, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
  }
  /* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
  :root {
    font-size: 62.5%;
    }
    #containerDiv {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #containerDiv > div {
        width: 250px;
        margin: 20px 10px 0 10px;
    }
    .card {
        text-align: left;
    }
    .blockquote > p {
        font-size: 1.8rem;
    }
    .blockquote-header {
        font-size: 1.4rem;
        text-align: right;
    }