html {
    box-sizing: border-box
}
  /* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
}
  /* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
font-size: 62.5%;
}

body{
    background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
    width: 100%;
    min-width: 311px;
    height: 100vh;
    font-family: Blippo, fantasy;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animation 100s linear infinite;
}

@keyframes animation {
    100%{
     background-position:0px -3000px;
   }
 }

#containerDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#containerDiv > div {
    width: 250px;
    margin: 20px 10px 0 10px;
    justify-content: center;
    display: flex;
}

.card {
    text-align: center;
    align-items: center;
    justify-content: center;
    background: url(https://www.freecodecamp.org/news/content/images/2020/04/w-qjCHPZbeXCQ-unsplash.jpg);
    background-size: 100vh;
    background-repeat: no-repeat;
    border: black 2px solid;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blockquote > p {
    font-size: 1.8rem;
    padding-left: 17px;
}

.blockquote-header {
    font-size: 1.4rem;
    text-align: right;
}

#delButton{
    background-color: black;
    width: 250px;
    
}

buttonDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.glow-on-hover {
    width: 30%;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 3px;
    font-family: Blippo,fantasy;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

h1{
    text-align: center;
    font-size: 5rem;
    background: cornsilk;
    width: 100%;
}

#programming{
    background: url(https://i.pinimg.com/originals/5a/c1/29/5ac1296b709f4427d4c7785a322d78a2.png);
}

#general{
    background: url(https://c7.uihere.com/files/103/226/345/free-vector-pink-abstract-sparkling-background.jpg);
}



@media screen and (max-width: 500px) {
    #buttonDiv{
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        justify-content: center;
    }
    .glow-on-hover{
        display: flex;
        flex-direction: row;
        width: 80%;
        align-self: center;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 340px) {
    body{
        font-family: monospace;
    }
    h1{
        font-size: 1.5rem;
    }
    #buttonDiv{
        display: flex;
        flex-direction: column;
        /* align-self: center; */
        align-items: center;
        justify-content: center;
    }
    .glow-on-hover{
        display: flex;
        flex-direction: row;
        width: 80%;
        align-self: center;
        justify-content: center;
        align-items: center;
    }
}

